/*
    selector{
        property: value;
    }
*/

h1 {
  color: red;
}

/* Class selector */
.blueCenter {
  color: blue;
  text-align: center;
}

/* ID selector */
#newHeading {
  color: turquoise;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

/*p {
  /*font-family: verdana;
  /*font-style: italic; /* normal, oblique */
/*font-variant: small-caps; /* normal */
/*font-weight: bold; /* normal, bolder, lighter, 100, 900 */
/*font-size: 20px; /* xx-small, medium, xx-large, smaller, larger, % */
/*font: italic small-caps bold 15px georgia;
  /*letter-spacing: 5px; /* normal */
/*word-spacing: 5px; /* normal */
/*text-indent: 1cm; /* % or number */
/*text-align: right; /* left, right, center, justify */
/*text-decoration: overline; /* underline, line-through, overline */
/*text-transform: capitalize; /* capitalize, uppercase, lowercase */
/*text-shadow: 4px 4px 8px blue; /* left-right offset, up-down offset, transparency, color */
/*background-color: yellow;
}
*/

p {
  border: 5px dotted black; /* width, type, color */ /* type: solid, dashed, dotted, double, groove, ridge, inset, outset */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}

img {
  width: 300px; /* width height */
  border: 5px dashed red; /* width, type, color */ /* type: solid, dashed, dotted, double, groove, ridge, inset, outset */
}
